.header {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #c28080;
}
.title {
    margin-left: 50px;
    font-size: 32px;
    color: #1e1f1f;
}
.form_container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;

}
.form {
    display: flex;
    flex-direction: column;
align-items: center;
    justify-content: center;
    padding: 20px 30px;
    width: 600px;
    height: 500px;
    /*background-color: #768d97;*/
    border: 1px solid #6a6262;
    border-radius: 4px;
}


